/*------------------------------------*\
*Copyright 2023 @IgorSilva-S & @c4izera
/*------------------------------------*/

/*------------------------------------*\
*Custom Property
/*------------------------------------*/

:root {
    --rich-black-fogra-29: hsl(225, 25%, 9%);
    --rich-black-fogra-39: hsl(170, 21%, 5%);
    --raisin-black: hsl(228, 13%, 15%);
    --eerie-black: hsl(207, 19%, 11%);
    --light-gray: hsl(0, 3%, 80%);
    --gunmetal-1: hsl(229, 15%, 21%);
    --gunmetal-2: hsl(216, 22%, 18%);
    --gainsboro: hsl(0, 7%, 88%);
    --citrine: hsl(57, 97%, 45%);
    --xiketic: hsl(253, 21%, 13%);
    --gray-x: hsl(0, 0%, 74%);
    --white: hsl(0, 100%, 100%);
    --black: hsl(0, 0%, 0%);
    --jet: hsl(0, 0%, 20%);
    --redJoyCon: #ff3131;
    --blueJoyCon: #38b6ff;
    --someBlue: #004aad;
    --someBlue2: #0632ff;

    /*Transition*/
    --transition1: 0.2s ease;
    --transition2: 0.25s ease-in;

    /*Padding*/
    --paddingSections: 100px;

    /*Font*/
    --fontFamily-Poppins: 'Poppins', sans-serif;
    --fs-1: 36px;
    --fs-2: 32px;
    --fs-3: 30px;
    --fs-4: 24px;
    --fs-5: 20px;
    --fs-6: 18px;
    --fs-7: 16px;
    --fs-8: 15px;
    --fs-9: 14px;
    --fs-10: 13px;
    --fs-11: 12px;
    --fs-12: 11px;

    --fw500: 500;
    --fw700: 700;
}

/*------------------------------------*\
*RESET STYLE
/*------------------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
span,
input,
button,
ion-icon {
    display: block;
}

html {
    font-family: var(--fontFamily-Poppins);
    scroll-behavior: smooth;
}

body {
    background-color: var(--someBlue);

}

body.active {
    overflow: hidden;
}

.container{
    padding: 15px;
}
/*------------------------------------*\
*HEADER
/*------------------------------------*/

.header{
    position: fixed;
    backdrop-filter: blur(20px);
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px;
    transition: var(--transition2);
    z-index: 1000;
    
}

.header:active {
    backdrop-filter: none;
    padding: 20px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerActions {
    display: none;
}


.menuMobile{
    border: none;
    background: transparent;
    font-size: 50px;
    cursor: pointer;
}





ion-icon {
    cursor: pointer;
    color: var(--light-gray)
}


.search {
    border: none;
    border-radius: 4px;
    background-color: transparent;
}